.button {
  min-width: 196px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  padding: 3px 3px 3px 29px;
  align-items: center;
  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;

  @include vp-767 {
    padding-left: 19px;
    gap: 0 20px;
    min-width: 152px;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: $color-cerulean-blue;
    text-align: center;

    @include vp-767 {
      font-size: 12px;
      letter-spacing: 0.24px;
    }
  }

  svg {
    width: 46px;
    height: 46px;
    padding: 12px 19px;
    background-color: $color-cerulean-blue;
    border-radius: 50%;
    color: $color-default-white;
    stroke-width: 2px;

    @include vp-767 {
      width: 34px;
      height: 34px;
      padding: 7px 13px;
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-cerulean-blue;
    outline: none;

    span {
      color: $color-default-white;
    }

    svg {
      background-color: $color-default-white;
      color: $color-cerulean-blue;
      transform: rotate(45deg);
    }
  }

  &:active {
    background-color: $color-cerulean-blue;
    outline: none;

    span {
      color: $color-default-white;
      opacity: 0.7;
    }

    svg {
      background-color: $color-default-white;
      color: $color-cerulean-blue-70;
      transform: rotate(45deg);
    }
  }

  &:disabled,
  &--disabled {
    background-color: $color-default-white;
    border: 1px solid $color-mischka;
    outline: none;

    span {
      color: $color-mischka;
    }

    svg {
      background-color: $color-mischka;
      color: $color-default-white;
    }
  }

  &--arrow {
    border: none;
    min-width: min-content;
    padding: 0;

    svg {
      width: 30px;
      height: 30px;
      padding: 0 10px;
    }

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color-default-white;
    }

    &:active {
      background-color: $color-default-white;
    }
  }

  &--dark {
    border: 1px solid $color-default-white;
    width: 100%;
    justify-content: space-between;

    @include vp-1439 {
      gap: 0 31px;
    }

    @include vp-767 {
      justify-content: flex-end;
      gap: 0 19px;
    }

    span {
      width: 100%;
      color: $color-default-white;
    }

    svg {
      background-color:$color-default-white;
      color: $color-cerulean-blue;
      width: 48px;

      @include vp-767 {
        width: 37px;
      }
    }

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color-default-white;

      span {
        color: $color-cerulean-blue;
      }

      svg {
        background-color: $color-cerulean-blue;
        color: $color-default-white;
      }
    }

    &:active {
      background-color: $color-default-white;
      outline: none;

      span {
        color: $color-cerulean-blue;
        opacity: 0.7;
      }

      svg {
        background-color: $color-cerulean-blue;
        color: $color-white-70;
      }
    }
  }
}
