.contacts {
  background: $color-cerulean-blue;

  h2 {
    color: $color-default-white;
    padding-top: 4px;
    margin-right: 100px;
  }
}

.contacts__container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.contacts__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 73px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-white-20;
    bottom: -33px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px 53px;
  margin-right: 1px;
  align-items: flex-start;
  justify-content: flex-end;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  color: $color-default-white;

  span {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    opacity: 0.8;
    color: $color-alabaster;
  }

  p {
    margin: 0;
    max-width: 263px;
  }

  a {
    color: $color-default-white;
  }
}

.contacts__map {
  border-radius: 16px;

  img {
    border-radius: 16px;
    background-color: $color-charcoal;
  }
}
