.custom-toggle {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  margin-bottom: 24px;

  @include vp-767 {
    margin-bottom: 8px;
  }

  label {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.9;
    font-size: 12px;
    line-height: 1;

    @include vp-767 {
      line-height: 14px;
      text-align: start;
    }
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
  }

  span {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: transparent;
    border: 1px solid $color-white-70;
    transition: border 0.3s ease;
    cursor: pointer;

    @include vp-767 {
      padding: 6px 8px;
      margin-top: -2px;
    }
  }

  svg {
    position: absolute;
    left: 6px;
    bottom: 5px;
    stroke-width: 3px;
    display: none;

    @include vp-767 {
      bottom: 10px;
    }
  }
}

.custom-toggle--light {
  margin-bottom: 14px;

  @include vp-767 {
    margin-top: 1px;
    margin-bottom: 9px;
  }

  span {
    border: 1px solid $color-charcoal-30;
  }
}

.custom-toggle input:hover,
.custom-toggle input:focus,
.custom-toggle input:focus-visible {
  + span {
    border: 1px solid $color-default-white;
  }
}

.custom-toggle input:disabled {
  + span {
    border: 1px solid $color-default-white;
    background: $color-white-60;
  }
}

.custom-toggle--light input {
  &:hover,
  &:focus,
  &:focus-visible {
    + span {
      border: 1px solid $color-charcoal;
    }
  }

  &:disabled {
    + span {
      border: 1px solid $color-charcoal;
      background: $color-charcoal-30;
    }
  }
}

.custom-toggle input:checked {
  + span {
    border: 1px solid $color-default-white;
    background: $color-default-white;
  }

  ~ svg {
    color: $color-cerulean-blue;
    display: block;
  }

  &:hover,
  &:focus {
    + span {
      border: 1px solid $color-default-white;
      background: transparent;
    }

    ~ svg {
      color: $color-default-white;
      display: block;
    }
  }

  &:disabled {
    + span {
      border: 1px solid $color-mischka;
      background: $color-mischka;
    }

    ~ svg {
      color: $color-default-white;
      display: block;
    }
  }
}

.custom-toggle--light input:checked {
  + span {
    border: 1px solid $color-cerulean-blue;
    background: transparent;
  }

  ~ svg {
    color: $color-cerulean-blue;
    display: block;
  }

  &:hover,
  &:focus {
    + span {
      border: 1px solid $color-cerulean-blue;
      background: $color-cerulean-blue;
    }

    ~ svg {
      color: $color-default-white;
      display: block;
    }
  }
}

.custom-toggle.is-invalid,
.custom-toggle--light.is-invalid {
  span {
    background: $color-wild-watermelon-20;
    border: 1px solid $color-wild-watermelon;
  }
}
