.hero {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.hero__image-wrapper {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $color-black-pearl-40;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__content {
  padding-top: 84px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  min-height: 800px;
  height: auto;

  @include vp-1439 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-bottom: 20px;
  }

  h2 {
    margin: 0;
    background-color: $color-default-white;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    color: $color-cerulean-blue;
    padding: 40px 50px 30px;
    max-width: 968px;
    border-radius: 0 30px 30px 0;

    @include vp-1439 {
      font-size: 36px;
      line-height: 44px;
      padding: 31px 40px 23px;
      max-width: 659px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
      padding: 20px 14px 16px;
      max-width: 100%;
      border-radius: 0 16px 16px 0;
    }
  }
}

.hero__pagination-wrapper {
  position: relative;
  width: fit-content;

  img {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 0;
    right: -20px;
    fill: $color-default-white;

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: -10px;
    }
  }
}

.hero__pagination {
  position: relative;
  display: flex;
  padding: 14px 16px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;
  gap: 0 4px;
  height: fit-content;

  @include vp-767 {
    padding: 10px 12px;
    border-radius: 12px 12px 0 0;
  }
}

.hero__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: flex;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  opacity: 1;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 20;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__pagination .swiper-pagination-bullet::before {
  @include vp-767 {
    content: "";
    position: absolute;
    top: -25px;
    right: -15px;
    bottom: -25px;
    left: -15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;

    // opacity: 0.8;
  }
}

.hero__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: $color-cerulean-blue;
}

.hero__container {
  display: flex;
  flex-direction: row;
  gap: 0 30px;
  background-color: $color-default-white;
  max-width: 772px;
  padding: 0 50px 28px;
  border-radius: 0 0 30px 30px;
  position: relative;

  @include vp-1439 {
    padding: 0 40px 35px;
    max-width: 591px;
  }

  @include vp-767 {
    flex-direction: column;
    padding: 0;
    gap: 0;
    width: 100%;
    background-color: transparent;
    margin-top: -5px;
  }

  p {
    margin: 0;
    margin-top: -7px;

    @include vp-1439 {
      font-size: 16px;
      line-height: 20px;
      margin-top: -4px;
      padding-right: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      margin-top: 0;
    }
  }
}

.hero__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px 0;

  // padding: 0 14px 10px;
  border-radius: 0 0 14px;
  width: 92%;
  background-color: $color-default-white;

  @include vp-767 {
    padding: 0 14px 10px;
  }

  img {
    position: absolute;
    top: 0;
    right: -26px;

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: calc(8% - 10px);
      top: 5px;
    }
  }
}

.hero__button-wrapper {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px 0;

  @include vp-1439 {
    padding-top: 0;
  }

  @include vp-767 {
    position: relative;
    padding: 10px 15px;
    max-width: 182px;
    border-radius: 0 0 14px 14px;
    background-color: $color-default-white;
  }

  img {
    display: none;

    @include vp-767 {
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      right: -10px;
      top: 0;
    }
  }
}
