.reviews {
  padding: 0 100px;
  margin-bottom: 120px;

  @include vp-1439 {
    padding: 0 0 0 45px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    padding: 0 15px;
    margin-bottom: 59px;
  }
}

.reviews__container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 45px 0;

  @include vp-1439 {
    gap: 40px 0;
  }

  @include vp-767 {
    gap: 31px 0;
    position: relative;
  }

  h2 {
    margin-left: 3px;
    padding-top: 4px;

    @include vp-1439 {
      margin-left: 0;
      margin-top: -1px;
      padding-top: 0;
    }

    @include vp-767 {
      padding-top: 4px;
    }
  }
}

.reviews__title {
  @include vp-1439 {
    width: calc(678 / 768 * 100%);
  }
}

.reviews__slider {
  margin: 0;

  @include vp-1439 {
    overflow: hidden;
  }

  @include vp-767 {
    position: static;
  }
}

.reviews__slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 39px;

  @include vp-1439 {
    width: 560px;
  }

  @include vp-767 {
    width: 290px;
    margin-bottom: 0;
  }
}

.reviews__slider-item {
  width: 604px;
  padding: 50px 50px 42px 49px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px 0;
  height: auto;

  @include vp-1439 {
    width: 560px;
    padding: 50px 49px 45px;
  }

  @include vp-767 {
    padding: 30px 12px 25px 14px;
    height: fit-content;
    gap: 24px 0;
  }
}

.reviews__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    gap: 15px 0;
  }
}

.reviews__user {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  gap: 0 15px;

  @include vp-767 {
    align-self: stretch;
    gap: 0 10px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;

    @include vp-1439 {
      font-size: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.reviews__image-wrapper {
  img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    object-fit: cover;
    object-position: top center;

    @include vp-767 {
      width: 60px;
      height: 60px;
    }
  }
}

.reviews__details {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 0 25px;

  @include vp-767 {
    align-self: stretch;
  }
}

.reviews__details-item {
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: $color-cerulean-blue;
    margin: 0;
    margin-bottom: 5px;

    @include vp-767 {
      margin-bottom: 6px;
    }
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      opacity: 0.9;
    }
  }
}

.reviews__text {
  display: flex;
  flex-direction: column;
  gap: 14px 0;

  @include vp-1439 {
    gap: 16px 0;
  }

  @include vp-767 {
    gap: 15px 0;
  }

  b {
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: $color-cerulean-blue;

    @include vp-1439 {
      font-size: 20px;
      line-height: 24px;

      br {
        display: none;
      }
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  blockquote {
    margin: 0;

    br {
      display: none;
    }

    @include vp-1439 {
      line-height: 20px;

      br {
        display: block;
      }
    }

    @include vp-767 {
      font-size: 14px;

      br {
        display: none;
      }
    }
  }
}

.reviews__slider-item:nth-child(2n + 2) {
  blockquote {
    padding-right: 10px;

    br {
      display: block;
    }

    @include vp-767 {
      padding-right: 0;

      br {
        display: none;
      }
    }
  }
}

.reviews__controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: center;
  margin-bottom: 1px;

  @include vp-1439 {
    gap: 64px;
    width: calc(100% - 45px);
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.reviews__scrollbar {
  width: 100%;
  margin: auto 0;
  background-color: $color-cerulean-blue-20;

  @include vp-767 {
    display: none;
  }
}

.reviews__scrollbar .swiper-scrollbar-drag {
  background-color: $color-cerulean-blue;
}

.reviews__controls-buttons {
  display: flex;
  gap: 10px;

  @include vp-767 {
    position: absolute;
    top: 0;
    right: 0;
  }
}
