.swiper-pagination {
  display: flex;
  padding: 14px 20px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;
  gap: 0 12px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: min-content;
}

.swiper-slide-active .hero__content {
  visibility: visible;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
}
