.swiper-pagination {
  display: flex;
  padding: 14px 20px;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;
  gap: 0 12px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: min-content;
}

.swiper-slide-active .hero__content {
  visibility: visible;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  opacity: 1;
}

.swiper .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
}

.swiper__text {
  h3 {
    font-size: 24px;
    line-height: 26px;
    color: $color-cerulean-blue;
    background-color: $color-default-white;

    @include vp-1439 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.swiper-horizontal >
.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  left: 0;
  top: 0;
}

.swiper-scrollbar-drag {
  width: 392px;
}
