.toggle {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-default-white;
  width: 134px;
  height: 54px;
  padding: 0 3px 0 6px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 28px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-cerulean-blue;
    outline: none;

    span {
      color: $color-default-white;
      outline: none;
    }

    svg {
      color: $color-cerulean-blue;
      background-color: $color-default-white;
      outline: none;
    }
  }

  &:active {
    background-color: $color-cerulean-blue;

    span {
      color: $color-default-white;
      opacity: 0.7;
    }

    svg {
      color: rgba($color-cerulean-blue, 0.7);
      background-color: $color-default-white;
    }
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid $color-mischka;
    pointer-events: none;

    span {
      color: $color-mischka;
    }

    svg {
      background-color: $color-mischka;
      color: rgba($color-mischka, 0.6);
    }
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: $color-cerulean-blue;
    padding: 13px;
  }

  svg {
    height: 46px;
    width: 46px;
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    padding: 12px;
    border-radius: 50%;
  }

  svg + svg {
    display: none;
    opacity: 0;
  }
}

.toggle.is-opened {
  width: 286px;
  background-color: $color-cerulean-blue;

  span {
    color: $color-default-white;
  }

  svg {
    color: $color-cerulean-blue;
    background-color: $color-default-white;
  }

  @include vp-1439 {
    min-width: 286px;
    width: 84%;
  }

  @include vp-767 {
    left: 15px;
    min-width: 100%;
    right: 0;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-default-white;
    border: none;
    outline: none;

    span {
      color: $color-cerulean-blue;
      outline: none;
    }

    svg {
      color: $color-default-white;
      background-color: $color-cerulean-blue;
      outline: none;
    }
  }

  &:active {
    background-color: $color-default-white;
    border: none;

    span {
      color: $color-cerulean-blue;
      opacity: 0.7;
    }

    svg {
      background-color: $color-cerulean-blue;
      color: rgba($color-default-white, 0.7);
    }
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid $color-mischka;
    pointer-events: none;

    span {
      color: $color-mischka;
    }

    svg {
      background-color: $color-mischka;
      color: rgba($color-mischka, 0.6);
    }
  }
}

.toggle.is-opened {
  svg {
    display: none;
  }

  svg + svg {
    display: inline;
    opacity: 1;
    color: $color-cerulean-blue;
  }
}
