.toggle {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: $color-default-white;
  min-width: 134px;
  max-width: 286px;
  min-height: 54px;
  padding: 0 49px 0 6px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 28px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-cerulean-blue;
    outline: none;

    span {
      color: $color-default-white;
      outline: none;
    }

    svg {
      right: 3px;
      color: $color-cerulean-blue;
      background-color: $color-default-white;
      outline: none;
    }
  }

  &:active {
    background-color: $color-cerulean-blue;

    span {
      color: $color-white-70;
    }

    svg {
      color: $color-cerulean-blue-70;
      background-color: $color-default-white;
    }
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid $color-mischka;
    pointer-events: none;

    span {
      color: $color-mischka;
    }

    svg {
      background-color: $color-mischka;
      color: $color-mischka-60;
    }
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: $color-cerulean-blue;
    padding: 13px;
  }

  svg {
    position: absolute;
    right: 3px;
    height: 46px;
    width: 46px;
    color: $color-default-white;
    background-color: $color-cerulean-blue;
    padding: 0 12px;
    border-radius: 50%;
  }

  svg + svg {
    display: none;
  }
}

.toggle.is-opened {
  width: 286px;
  background-color: $color-cerulean-blue;

  span {
    color: $color-default-white;
    text-align: start;
  }

  svg {
    display: none;
  }

  svg + svg {
    display: inline;
    opacity: 1;
    color: $color-cerulean-blue;
    background-color: $color-default-white;
  }

  @include vp-1439 {
    min-width: 286px;
    width: 84%;
  }

  @include vp-767 {
    min-width: 100%;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color-default-white;
    border: none;
    outline: none;

    span {
      color: $color-cerulean-blue;
      outline: none;
    }

    svg {
      color: $color-default-white;
      background-color: $color-cerulean-blue;
      outline: none;
    }
  }

  &:active {
    background-color: $color-default-white;
    border: none;

    span {
      color: $color-cerulean-blue-70;
    }

    svg {
      background-color: $color-cerulean-blue;
      color: $color-white-70;
    }
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid $color-mischka;
    pointer-events: none;

    span {
      color: $color-mischka;
    }

    svg {
      background-color: $color-mischka;
      color: $color-mischka-60;
    }
  }
}
